* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
}

.header, .main, .footer {
    padding: 20px 0;
}

.section {
    padding: 60px 0;
}

.header, .footer {
    background-color: #005a9c;;
}

.cart-btn {
    color: whitesmoke;
    text-transform: capitalize;
    background-color: #005a9c;
}

.address-list {
    margin-top: 30px;
}

